{% extends 'flatpages/default.html' %}
{% block content %}
<h2>Личный кабинет {{request.user.name}}</h2>
<div> Здесь может содердаться персональная информация для каждого пользователя </div>
<hr>
<form action="" method="get">
    {{ filterset.form }}
    <input type="submit", value="Найти">
</form>
<button> <a href="/">Сбросить фильтр</a> </button>
<hr>
<h4>Все отклики на выбранное объявление:</h4>
{% if responces %}
{% for responce in responces %}
<p>{{ post.text }}</p>
{% endfor %}
{% endif %}
<button> <a href="sign/logout/">Выйти</a> </button>
{% endblock %}